.outerInputContainer {
    position: relative;
    width: 100%;
}

.outerInput {
    background-color:oklab(from color l a b);
    border: 2px solid #ccc;
    padding: 8px;
    width: 100%;
    height:300px;
    /*box-sizing: border-box;*/ /* width и height задают content area + paading area до border edge */
    box-sizing: content-box; /* значение по умолчанию width и height задают content area */
}

.innerInput {
    position:absolute;
    border: none;
    padding: 5px;
    top:10px;
    width: calc(100% - 20px); /*ширина поля с учётом внешних отступов*/
    left:10px;
    text-align: right;
    /* transform: translateY(-5em) */
}